footer {
  background-color: black;
  color: white;
  /* padding-top: 40px;
  margin-top: 40px; */
}

.footer-card {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 20px;
  padding: 30px 30px;
}
.social-media {
  max-width: 250px;
}
.social-media-container {
  background-color: white;
  height: 54px;
  width: 54px;
  border-radius: 4px;
  display: grid;
  justify-content: center;
  align-content: center;
}
.social-media-icon {
  height: 24px;
  width: 24px;
}

.social-media-container:hover {
  background-color: lightgrey;
}

.social-media-icons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 54px);
  gap: 10px;
}

.social-media h2 {
  font-size: 20px;
}

.social-media h3 {
  font-size: 16px;
  padding-bottom: 10px;
}

.footer-location h2 {
  font-size: 20px;
}

.footer-location h3 {
  font-size: 16px;
}

.company-container {
  padding: 30px 30px;
}

.company-links {
  display: grid;
  grid-template-columns: 320px 300px 300px;
  gap: 6px;
}

.company-links a {
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 4px 8px; /* gives some breathing space around text */
  transition: background-color 0.3s ease;

}

.company-links a:hover {
  background-color: rgb(37, 37, 37);
}

.footer-border {
  height: 2px;
  background-color: rgb(37, 37, 37);
  margin: 40px auto;
}

.footer-links a {
  text-decoration: none;
  color: white;
  text-decoration: underline;
  border-radius: 4px;
  padding: 0 2px;
  display: inline-block;
}

.footer-links a:hover {
  background-color: rgb(37, 37, 37);
}

.footer-links {
  padding-bottom: 20px;
}

.footer-text {
  color: white;
  font-size: 30px;
  font-family: Porsche;
  padding: 40px 0;
  justify-self: center;
}

.footer-button {
  width: 100%;
  margin-top: 10px;
  height: 54px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid white;
  background-color: white;
}

.footer-button:hover {
  background-color: lightgrey;
  border-color: lightgray;
}
