.main-content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 80px;
}

.video-section {
  min-height: 100vh;
  max-height: 100%;
  position: relative;
}

.hero-pic {
  object-fit: cover;
  width: 100%;
  max-height: 100vh;
}

.video-section button {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  size: inherit;
}

.video-section video {
  object-fit: cover;
  max-width: 100vw;
  width: 100%;
  height: 100vh;
}

.video-section button:hover {
  border: 1px solid rgb(193, 193, 193);
  background-color: rgba(231, 231, 231, 0.152);
  color: white;
  cursor: pointer;
}
.discover-more h1 {
  color: white;
  font-size: 5vw;
}
.discover-more {
  position: absolute;
  bottom: 100px;
  left: 100px;
  width: calc(100vw-50px);
}

.bottom-shadow {
  width: 100%;
  height: 82px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.7) 40%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  bottom: 0px;
}
.article-flex-container {
  padding: 80px 0px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 40px;
}
@media (max-width: 720px) {
  .article-flex-container {
    flex-direction: column;
  }
}

.article-preview {
  overflow: hidden;
  border-radius: 10px;
  /* height: 100%; */
  width: 100%;
  max-height: 300px;
  position: relative;
}

.article-preview a {
  width: 100%;
  display: block;
}
.article-pic {
  width: 100%;
  object-fit: contain;
  transition: transform 0.35s ease;
}

.article-pic:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.article-text-container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0px;
}

.article-text p {
  margin: 0;
  font-size: 16px;
  color: white;
  font-weight: 700;
  padding-left: 20px;
}

.article-arrow {
  width: 24px;
  height: 24px;
  filter: invert();
  /* padding-right: 20px; */
  margin-right: 15px;
  padding: 5px;
  border-radius: 4px;
}

.article-arrow:hover {
  background-color: rgba(128, 128, 128, 0.347);
}

.bottom-article-shadow {
  width: 100%;
  height: 72px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.7) 40%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  bottom: 0;
}

.modele {
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
}
.upper-model-shadow {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 30%,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

.bottom-model-shadow {
  width: 100%;
  height: 100px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.7) 30%,
    rgba(0, 0, 0, 0.7) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  bottom: 0px;
}
.model-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.model-card {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.upper-model-info p {
  background-color: rgba(126, 126, 126, 0.7);
  display: inline-flex;
  padding: 2px 6px;
  border-radius: 6px;
  margin-top: 8px;
}

.model-card:hover {
  .model-pic {
    transform: scale(1.05);
  }
}

.model-pic-container {
  grid-row: 1;
  grid-column: 1;
  aspect-ratio: 9/12;
  position: relative;
}

.model-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.35s ease;
  border-radius: 10px;
}

.model-name {
  height: 30px;
  top: 50px;
  left: 50px;
  filter: invert();
}

.model-info {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
}

.model-info h2,
p {
  margin: 0;
}

.button {
  width: 100%;
  margin-top: 10px;
  height: 56px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid white;
}

.primary-button {
  background-color: white;
}

.secondary-button {
  background-color: black;
  color: white;
}

.primary-button:hover {
  background-color: lightgrey;
  border-color: lightgray;
}

.secondary-button:hover {
  background-color: rgb(52, 52, 52);
  border-color: lightgray;
}

.find-more {
  margin: 80px auto;
  max-width: 1600px;
}

.find-more-card {
  /* background-color: black; */
  margin: 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  border-radius: 10px;
  height: 450px;
}

.find-more-pic img {
  object-fit: cover;
  height: 100%;
}

.find-more-text {
  background-color: black;
  color: white;
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}

.find-more-text h2,
p {
  margin: 0;
}

.discover-flex-container {
  padding: 40px 0px 80px 0;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 40px;
}

@media (max-width: 720px) {
  .discover-flex-container {
    flex-direction: column;
  }
}

@media (max-width: 1300px) {
  .model-grid-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 760px) and (max-width: 1300px) {
  .button {
    width: fit-content;
    padding-inline: 20px;
  }
  .button:first-of-type {
    margin-right: 10px;
  }
}

@media (max-width: 760px) {
  .find-more-card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: fit-content;
    min-width: fit-content;
  }
  .find-more-text {
    padding: 30px 60px;
    height: 300px;
    min-height: fit-content;
    min-width: fit-content;
  }
}