.main-body-modele {
  padding-top: 82px;
  padding-left: 40px;
  padding-right: 40px;
}

.model-overview {
  font-weight: 600;
}
.filter-container {
  display: flex;
}

.model-filter {
  margin-top: 24px;
  width: 350px;
}

.card-model {
  width: 400px;
  transition: transform 0.35s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  padding: 20px 30px;
  margin: 40px 40px;
}

.card-model:hover {
  transform: scale(1.02);
  box-shadow: 0 0 40px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.card-model img {
  padding: 30px 0;
}
.card-model h3 {
  font-weight: bold;
}

.desc {
  padding-bottom: 10px;
  color: rgb(76, 76, 76);
}

.specs {
  font-weight: 700;
  padding: 0;
  font-size: 20px;
}

.model-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  column-gap: 80px;
  /* background-color: blue; */
}
.container {
  overflow: hidden;
}

.filterDiv {
  display: none;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #e8e7e7;
  cursor: pointer;
  display: block;
  margin-bottom: 6px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.all-models-wrapper {
  padding: 20px;
  width: 100%;
}

.model-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header-section-modele {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
